.App {
  text-align: center;
}

.Item_One img {
  width:30%;
}

.Title h1 {
  color: deeppink;
  font-size: 50px;
}

.container {
  padding-top: 20px;
  display: flex; 
  padding-left:20%; 
  padding-right: 20%;  
}

.series {
  flex:1;
  position:relative;
  width:250px;
  height: 350px;
  border: 5px solid white;
  overflow:hidden;

}

.container img {
  width:250px;
  height: 350px;
}

.overlay {
  position: absolute;
  bottom: -100px;
  background-color:black;
  width:100%;
  color: white;
  opacity: .9;
  transition: bottom ease 1s; 

}

.series:hover .overlay {
   display: block;
   opacity: .9;
   bottom:0;

}

/*for mobile devices only*/

@media only screen and (max-width:600px) {
  .container {
    display: block;
    width:100%;
    padding-left:0;
    padding-right:0;
    padding-top:0px;
    flex-direction: column;
  }

  .overlay {
    left:0px;
    bottom:3px;
  }

  .Title h1 {
    font-size: 30px;
  }


}

